body{
  font-family: sans-serif;
  background-color:rgb(255, 255, 255);
}
.webname{
  text-align: center;
  font-family: shojumaru;
  font-size: 49px;
  color: wheat; 
  text-align: center;
  text-shadow: 6px 4px 4px rgba(146, 8, 139, 0.5); 
  background-color: green; 
  padding: 10px;
  border-radius: 8px;
}
h1{
  color: green;
  text-align: end;
}
h2{
  color: green;
  text-align: end;

}
h4{
  color: green;
  text-align: end;
}
.huddy{
  height: 150px;
  width:150px;
  margin-left: 400px;
  margin-top: 70px;
}