body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}
.webname {
  text-align: center;
  font-family: shojumaru;
  font-size: 49px;
  color: white;
  text-align: center;
  text-shadow: 12px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: wheat;
  padding: 10px;
  border-radius: 8px;
}

.simp {
  height: 200px;
  width: 350px;
  margin-left: 20px;
  border: 5px solid black;
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.person-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  background-color: #fff;
}

.person-name {
  color: white;
}

.died-info, .description, .date, .location {
  margin: 8px 0;
}

.person-img {
  max-width: 100%;
  border-radius: 8px;
}

.separator {
  border: 1px solid #ddd;
  margin: 20px 0;
}
b{color: cornflowerblue;

}
h1{
  text-align: center;
  background-color:crimson;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.add{
  text-align: center;
  margin-left: 44vw;
}


.delete{
  text-align: center;
  margin-left: 75vw;
  background-color: darkred;

}

.delete:hover {
  background-color: rgb(238, 17, 17);
}

.custom-dropdown {
  width: 200px; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid wheat;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 60px;
  left: 20px;
  outline: wheat;
}

.custom-dropdown:hover {
  border-color: #555;
}

.custom-dropdown option {
  font-size: 14px;
}
