body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}
.webname {
  text-align: center;
  font-family: shojumaru;
  font-size: 49px;
  color: white;
  text-align: center;
  text-shadow: 12px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: wheat;
  padding: 10px;
  border-radius: 8px;
}

.simp {
  height: 200px;
  width: 350px;
  margin-left: 20px;
  border: 5px solid black;
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.person-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  background-color: #fff;
}

.person-name {
  color: #333;
}

.died-info, .description, .date, .location {
  margin: 8px 0;
}

.person-img {
  max-width: 100%;
  border-radius: 8px;
}

.separator {
  border: 1px solid #ddd;
  margin: 20px 0;
}
b{color: cornflowerblue;

}
h1{
  text-align: center;
  background-color:crimson;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.add{
  text-align: center;
  margin-left: 580px;
}